# Django requirements
django==4.2.12
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-filter==23.1
django-crispy-forms==2.3
django-extensions==3.2.3
django-environ==0.12.0
# Testing requirements
pytest-django==4.10.0
coverage==7.3.2
ipython==8.33.0
pycodestyle==2.12.1
# Python requirements
psycopg2-binary==2.9.10
# Gunicorn requirements
gunicorn==20.1.0